*.pyc
*.swp
*.bak
*.whl
__pycache__
tmp
.vscode
.pylintrc
config.yml
!tests/**/config.yml
todo.txt
*.sqlite3
.*_cache
.venv*
.DS_Store
/pytest_report*
test.*

.idea/*
.coverage
coverage.xml
.python-version
*.egg-info/
build/
dist/
/.cache/
/todo/
