import logging

from .base import (  # noqa
    AMMessage,
    LoggingQueue,
    MessageMixin,
    Queue,
    Topic,
    _deserialize_content,
    get_message_count,
    get_queue,
    publish,
    publish_result,
    subscribe,
    subscribe_logger,
    subscribe_results,
    to_json_content,
    unsubscribe,
    unsubscribe_all,
    unsubscribe_results,
)

#######################################################
# Dynamically added by post_compile.py
from .{{ generated_package_name }} import (  # noqa
{% for i in main_imports|sort %}
{{ i }},
{% endfor %}
)
#######################################################

from .config import (  # noqa
    GENERATED_PACKAGE_NAME,
    PACKAGE_NAME,
{#    PREFIX_MESSAGES,#}
    ROOT_GENERATED_PACKAGE_NAME,
)
from .connection import (  # noqa
    RequeueMessage,
    get_connection,
    is_connected,
    is_stopped,
    reset_connection,
    set_stopped,
    stop_connection,
)
from .introspect import decorate_protobuf_classes  # noqa

log = logging.getLogger(__name__)

# Decorate generated betterproto.Message subclasses with Message Mixin;
decorate_protobuf_classes()
